input[type="checkbox"]:checked {
  background-color: black;
  border-color: black;
}

.step-indicator {
  transform: rotate(45deg);
}
.step-indicator-span {
  transform: rotate(-45deg); 
  display: inline-block; 
}

.step-line {
  width: 150px;
  height: 2px;
  background-color: #f5f5f5;
}
